## Ignore Visual Studio temporary files, build results, and other project output
*.log
*.cache
*.bak
*.swp
*.user
*.lock
*.DS_Store
*.vs
*.vscode
*.obj
*.suo
*.userprefs
*.sln.docstates
*.pidb
*.svclog
*.dotCover
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
*.jfm
*.ser

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.xml
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pg

# JetBrains IDE (Rider, ReSharper, etc.) temporary files
.idea/
*.DotSettings.user
*.sln.DotSettings.user
*.csproj.DotSettings.user
*_resharper.*
*resh

.config/